.main-container {
  gap: 1rem;
  width: 100vw;
  height: 100vh;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-h {
  flex-direction: row;
}

.flex-v {
  flex-direction: column;
}

.list {
  min-width: 6rem;
  min-height: 10rem;
  padding: 1rem;
  border: 1px solid black;
  border-radius: 0.5rem;
}

.list-item {
  gap: 0.6rem;
}

.list-action {
  margin: 0.5rem;

}